@import "less/mixins.less";

@pink: #be1a8d;

.custom-highlight{
    background: @pink;
    color: #fff;
    text-shadow: -1px 1px 1px darken(@pink, 15%);
}

/* Apply custom highlight */
::-moz-selection{ .custom-highlight; }
::selection { .custom-highlight; }

#main { 
  margin-top: 100px;
}
.navbar .brand {
  display: block;
  float: left;
  font-size:20px;
  margin-top: 10px;

}

.navbar .brand:hover {
  text-decoration: none;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #999999;
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
}

#login input {
  border-radius: 3px;
  font-size: 16px;
  width: 96%;
  margin-bottom: 16px;
  height: 27px;
  color: black;
}

#login button.login {
  color: #fff;
  background: #187CCC;
  font-size: 15px;
  margin: 0 auto;
  display: inline-block;
  padding: 6px 19px;
  border: 0 none;
}

.center {text-align: center;}

#signup input {
  border-radius: 3px;
  font-size: 16px;
  width: 96%;
  margin-bottom: 16px;
  height: 27px;
  color: black;
}

#signup button {
  color: #fff;
  background: #187CCC;
  font-size: 15px;
  margin: 0 auto;
  display: inline-block;
  padding: 6px 19px;
  border: 0 none;
}
