-extends "base.html"


-block js 


-block main
  #admin_page.container
    .row
      .col-md-4.well
        Button to get report of all users and their friends
        along with their associated posts and comments.
        %button Button
