-extends "base.html"


-block js 


-block main
  #edit_profile.container
    .row
      .col-md-4.well
        %h2.center
        %form.send-message(action="", method="POST")
          .form-group
            %label.control-label(for="photo") Upload Photo:
            .controls
              %input#photo(type="text", name="photo", required="required", \
                          value="")

          .form-actions.center
            %button(type="submit")
              %i.icon-thumbs-up
              Upload Photo
    .row
      .col-md-4.well
        %h2.center Show user photos here

      
