-extends "base.html"


-block js 


-block main
  #group_panel.container
    .row
      .col-md-4.well
        %h2.center
        %form.send-message(action="#{url_for('add_content_editor')}", method="POST")
          .form-group
            %label.control-label(for="email") Add Content Editor:
            .controls
              %input#email(type="text", name="email", required="required", \
                          value="", placeholder="Email Address")
              
          .form-actions.center
            %button(type="submit")
              %i.icon-thumbs-up
              Add Content Editor
    .row
      .col-md-4.well
        %h2.center
        %form.send-message(action="", method="POST")
          .form-group
            %label.control-label(for="add_group_member") Add Group Member:
            .controls
              %input#group(type="text", name="add_group_member", required="required", \
                          value="", placeholder="Email Address")
              
          .form-actions.center
            %button(type="submit")
              %i.icon-thumbs-up
              Add Member
