-extends "base.html"


-block js 


-block main
  #login
    .container
      .row
        .col-md-offset-3.col-md-6.well.login-box
          %h3.center Login

          -if error
            .alert.alert-error
                #{error}

          %form#login-form(action="#{url_for('home')}", method="POST", role="form")
            %input#redirect(type="hidden", name="redirect", \
                            value="")

            %input#email(type="text", name="email", required="required", \
                            value="", \
                            placeholder="Email")

            %input#password(type="password", name="password", \
                            required="required", placeholder="Password", \
                            autocomplete="off")

            .button-container.center
              %button.btn.login(type="submit")
                Login
