-extends "base.html"


-block js 


-block main
  #profile_page.container
    %h3 Hello #{user.email}
    .row
      .col-md-4.well
        %h2.center
        %form.send-message(action="", method="POST", role="form")
          .form-group
            %label(for="friend") Add Friend:            
              %input#friend(type="text", name="friend", required="required", \
                          value="", placeholder="Email Address")
            
            %label(for="category") Category:
              %select.form-control
                %option Relative
                %option School
                %option Work

          .form-actions
            %button(type="submit")
              %i.icon-thumbs-up
              Add Friend


      .col-md-4.well
        %h2.center
        %form.send-message(action="", method="POST", role="form")
          .form-group
            %label(for="group") Join Group:            
              %input#group(type="text", name="group", required="required", \
                          value="", placeholder="Group Name")
              
          .form-actions
            %button(type="submit")
              %i.icon-thumbs-up
              Join group

      .col-md-4.well
        %h2.center
        %form.send-message(action="", method="POST", role="form")
          .form-group
            %label(for="cgroup") Create Group:           
              %input#group(type="text", name="cgroup", required="required", \
                          value="", placeholder="Group Name")
              
          .form-actions
            %button(type="submit")
              %i.icon-thumbs-up
              Create Group
    .row
      .col-md-offset-3.col-md-6.well
        %h2.center
        %form.send-message(action="", method="POST", role="form")
          .form-group
            %label(for="image") Image:           
              %input#image(type="text", name="image", required="required", \
                          value="", placeholder="Image")

            %label(for="text") Text:            
              %input#text(type="text", name="text", required="required", \
                          value="", placeholder="Text")              

            %label(for="post_to") Post to:            
              %select.form-control(name="post_to")
                %option Public
                %option Group

          .form-actions
            %button(type="submit")
              %i.icon-thumbs-up
              Post 


    .row
      .col-md-12
        -if posts
          -for post in posts
            .well
              %h3
                Title: #{post.title}
              %h4
                Text Body: #{post.text_body}
              Posted by: #{post.fname}

