-extends "base.html"


-block js


-block main
  #signup.container
    .row
      .col-md-offset-3.col-md-6.well
        %h2.center
          Sign Up
        %form.send-message(action="", method="POST", role="form")

          .form-group
            %label(for="name") First Name:
            %input#name.form-control(type="text", name="fname", required="required", \
                          value="")
                          
                          
          .form-group
            %label(for="name") Last Name:
            %input#name.form-control(type="text", name="lname", required="required", \
                          value="")
          
          
          .form-group
            %label(for="name") Maritial Status:
            %input#name.form-control(type="text", name="mar_stat", required="required", \
                          value="")

          .form-group
            %label(for="dob") Date of birth:
            %input#dob.form-control(type="date", name="dob", required="required")

          .form-group
            %label(for="email") E-mail address:
            %input#email.form-control(type="email", name="email", required="required", \
                           value="")

          .form-group
            %label(for="password") Password:
            %input#password.form-control(type="password", name="password", required="required", \
                              autocomplete="off")

          .center
            %button(type="submit")
              Sign Up
